

.box {
    display: flex;
    flex-direction: column;
    max-height: 350px;
}

.item {
    width: fit-content;
    border: 4px solid #39395f;
    border-radius: 10px;
    margin: 10px 0px 10px;
}

.item-center {
    position: relative;
    left: 50%;
    top: -50px;
}

.item-bottom {
    position: relative;
    top: -100px;
}

