<div class="card" >
    <div class="card-body">
        <form>
            <div class="form-group">
                <label for="uName">Your Email</label>
                <input type="text" id="uName" name="username" class="form-control" >
            </div>
            <div class="form-group">
                <label for="pass">Your Password</label>
                <input type="text" id="pass" name="password" class="form-control" >
            </div>
            <div class="form-group">
                <button class="button" type="submit">Sign in</button>
            </div>
        </form>
    </div>
    <div class="card-footer">

    </div>
</div>
