<div class="card border-light" >
    <div class="card-body">
        <form #loginForm="ngForm" (ngSubmit)="validateLogin()">
            <div class="form-group">
                <label for="uName" class="field-label">Your Email</label>
                <input type="text" id="uName" name="username" [(ngModel)]="username" class="form-control" >
            </div>
            <div class="form-group">
                <label for="pass" class="field-label">Your Password</label>
                <input type="text" id="pass" name="password" [(ngModel)]="password" class="form-control" >
            </div>
            <div class="form-group btn-box">
                <button class="button" type="submit">Sign in</button>
            </div>
        </form>
    </div>
    <div class="card-footer">
        <div class="box">
            <div class="my-3">
                <a class="link-opacity-100">Don't have an account?</a>
            </div>
            <div class="my-3">
                <a class="link-opacity-100">Forgot password?</a>
            </div>
        </div>
    </div>
</div>
