<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="grp">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img src="../assets/pictures/xen_logo.png" width="30" height="30" class="d-inline-block align-top">
                    XEN Green
                </a>
            </div>
            <div>
                <!-- <ul class="navbar-nav">
                    <li class="nav-item">
                        <a [routerLink]="['/allocate']" class="nav-link">Allocate Solar Heater</a>
                    </li>
                    <li class="nav-item">
                        <a [routerLink]="['/view']" class="nav-link">View Bookings</a>
                    </li>
                </ul> -->
            </div>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="card my-2">
        <app-companylogo></app-companylogo>
    </div>
    <div class="row no-gutters">
        <div class="col-4 offset-1 card card-back">
            <div class="card-body">
                <h3 class="card-title header">Our Products</h3>
                <div class="img-container">
                    <app-products></app-products>
                </div>
            </div>
        </div>
        <div class="col-5 offset-1 card card-back">
            <div class="card-body">
                <h3 class="card-title header header-text">Good to see you again</h3>
                <div>
                    <app-login></app-login>
                </div>
            </div>
        </div>
    </div>
</div>
