

.no-gutters {
    margin-right: 0;
    margin-left: 0;
  
    > .col,
    > [class*="col-"] {
      padding-right: 0;
      padding-left: 0;
    }
}

.card-back {
    height: 60vh;
}

.img-container {
    border-top: 4px solid #39395f;
}

.header-text {
    text-align: center;
    font-weight: bold;
}