/* You can add global styles to this file, and also import other style files */
body {
    background-color: #f5eec2;
}

.header {
    color: #39395f;
}

.button {
    background-color: #416a59;
    color: white;
    border: none;
    padding: 8px 100px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}